In [2]:
import pandas as pd
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

data = pd.read_csv('Diabetes_prediction.csv')
data.head()

,EmployeeName,Patient_id,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,NATHANIEL FORD,PT101,Female,80.0,0,1,never,25.19,6.6,140,0
1,GARY JIMENEZ,PT102,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,ALBERT PARDINI,PT103,Male,28.0,0,0,never,27.32,5.7,158,0
3,CHRISTOPHER CHONG,PT104,Female,36.0,0,0,current,23.45,5.0,155,0
4,PATRICK GARDNER,PT105,Male,76.0,1,1,current,20.14,4.8,155,0

In [3]:

columns_to_drop = ['EmployeeName', 'Patient_id', 'hypertension', 'heart_disease', 'smoking_history', 'HbA1c_level', 'blood_glucose_level']


data = data.drop(columns=columns_to_drop)

In [4]:
data.head()

   gender   age    bmi  diabetes
0  Female  80.0  25.19         0
1  Female  54.0  27.32         0
2    Male  28.0  27.32         0
3  Female  36.0  23.45         0
4    Male  76.0  20.14         0

In [5]:

data['gender'] = data['gender'].map({'Male': 0, 'Female': 1})
data = data.dropna()
data.head()

   gender   age    bmi  diabetes
0     1.0  80.0  25.19         0
1     1.0  54.0  27.32         0
2     0.0  28.0  27.32         0
3     1.0  36.0  23.45         0
4     0.0  76.0  20.14         0

In [6]:
X = data.drop(columns=['diabetes'])
y = data['diabetes']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.8852827924188629
Precision: 0.25449385052034057
Recall: 0.15154929577464787
F1 Score: 0.1899717514124294

In [8]:
with open('diabetes_prediction_model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [2]:
import skl2onnx
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

# Define the initial type (input type) for the model
initial_type = [('float_input', FloatTensorType([None, X_train.shape[1]]))]

# Convert the model to ONNX format
onnx_model = convert_sklearn(model, initial_types=initial_type)

# Save the ONNX model to a file
with open('diabetes_prediction_model.onnx', 'wb') as f:
    f.write(onnx_model.SerializeToString())

ModuleNotFoundError: No module named 'skl2onnx'

In [3]:
import sys
print(sys.executable)

C:\Users\aryan\AppData\Local\Programs\Python\Python311\python.exe